//
//  MeloNext.xcconfig
//  MeloNext
//
//  Based on the MeloNX configuration.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

VERSION = 1.0.0

// Set DEVELOPMENT_TEAM in your local signing configuration or Xcode.
// Do not commit a personal Apple Developer Team ID here.
PRODUCT_BUNDLE_IDENTIFIER[config=Archive] = com.superkingmario.melonext
CODE_SIGN_IDENTITY[config=Archive] = -
CODE_SIGN_STYLE[config=Archive] = Automatic
AD_HOC_CODE_SIGNING_ALLOWED[config=Archive] = YES
